<article class="main-content">
  <header class="article-header">
    <h2>With ajax</h2>
  </header>
  <section class="article-content">
    <p>
      You can also fetch the data from a server using an Ajax call.
    </p>
  </section>

  <hr />

  <section class="showcase">
    <p>
      <button type="button" class="btn btn-primary" (click)="displayToConsole()">Display the DataTable instance in the console</button>
    </p>
    <p *ngIf="datatable">
      {{ datatable.dtInstance.id }}
    </p>
    <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
  </section>
</article>
