<article class="main-content">
  <header class="article-header">
    <h2>Row click event</h2>
  </header>
  <section class="article-content">
    <p>
      Simple example to bind a click event on each row of the DataTable with the help of
      <a href="http://datatables.net/reference/option/rowCallback">rowCallback</a>.
    </p>
  </section>

  <hr />

  <section class="showcase">
    <blockquote>Please click on a row</blockquote>
    <p class="text-danger">You clicked on: <strong>{{ message }}</strong></p>
    <br />
    <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
  </section>
</article>
